zoom:
  key: "zoom-dev-api-key"
  secret: "zoom-dev-api-secret"
  username: "<username>@minds.ai"
  password: "password for username, best not to use primary account!"
  delete: true
  meetings: 
    - {id: "217693555" , name: "CWW"}
drive:
  credentials_json: "credentials.json"
  client_secret_json: "client_secrets.json"
  folder_id: "0B5fHWGlVn9gNZDFUcVN4TlZNN1U"
slack:
  channel: "mindsai-wide-meetings"
  key: "<slack-api-key-of-bot>"
internals:
  target_folder: </path/to/recording/folder>
  port: <port number>
